.layout
  height: 500px

.sider
  border-bottom-left-radius: 15px
  border-top-left-radius: 15px

  background-color: #c5f1f7

  a
    width: 100%
    padding: 8px 12px!important
    height: auto

.exit__button
  display: flex
  justify-content: center

.content
  border-bottom-right-radius: 15px
  overflow-y: auto
  overflow-x: hidden

  background-color: #eefaff

.header
  border-top-right-radius: 15px
  background-color: #cad2ff

  display: flex
  justify-content: space-between
  align-items: baseline
