<div nz-row [nzGutter]="24" [nzJustify]="'center'" [nzAlign]="'middle'" class="main__layout">
  <div nz-col [nzSpan]="16">
    <nz-layout class="layout">
      <nz-sider class="sider">
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <a nz-button nzType="link" [routerLink]="['/dashboard/tasks']">Задачи</a>
          </div>

          <div nz-col [nzSpan]="24">
            <a nz-button nzType="link" [routerLink]="['/dashboard/labels']">Метки</a>
          </div>
        </div>

        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <div class="exit__button" nz-col [nzSpan]="24">
              <button nz-button nzType="dashed" (click)="logout()">Выйти</button>
            </div>
          </div>
        </div>

      </nz-sider>

      <nz-layout>
        <nz-header class="header">
          <p>{{ state === 'tasks' ? 'Задачи' : 'Метки' }}</p>

          <button nz-button nzType="default" (click)="add()">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
          </button>
        </nz-header>

        <nz-content class="content">
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </div>
</div>
