<div class="tui-container tui-container_adaptive tui-container_example">
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-1 tui-col_lg-1">
      <div class="dummy"></div>
    </div>
  </div>
</div>
