<div *nzModalTitle>
  Редактирование (name)
</div>

<form nz-form [formGroup]="form" errorTailor>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Название</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="name" placeholder="Название" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Цвет</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input readonly class="color-picker" [(colorPicker)]="color.hexCode" [style.background]="color.hexCode" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Задачи</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select nzMode="multiple" nzPlaceHolder="Задачи" formArrayName="tasksIds" nzAllowClear>
        <nz-option *ngFor="let task of allTasks;trackBy:trackByFunc"
          [nzValue]="task._id" [nzLabel]="task.name"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>


<div *nzModalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Закрыть</button>
  <button nz-button nzType="primary" (click)="handleOk()">Сохранить</button>
</div>
