<div nz-row [nzGutter]="24" [nzJustify]="'space-between'">
  <div nz-col [nzSpan]="16" class="card__content">

    <div class="card__content-info">
      <p>{{ task.name }}</p>

      <p class="card__name">{{ task.description }}</p>
    </div>

    <div class="card__content-labels">
      <nz-tag *ngFor="let label of task.labelsForTask" [nzColor]="label.colorHexCode">{{ label.name }}</nz-tag>
    </div>
  </div>

  <div nz-col [nzSpan]="4" class="card__actions">
    <button nz-button nzType="default" (click)="edit(task._id ?? '')">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
    </button>

    <button nz-button nzType="default" (click)="delete(task._id ?? '')">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
    </button>
  </div>
</div>
